*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin-top: 20px;
    min-height: 100vh;
    /* display : flex; */
    align-items: center;
    justify-content: center;
    background: #f6f7f8;
}
.customerTable{
    margin-top: 50px;
}
.save{
    position:absolute;
    right:5px;
}
.save_button{
    margin-top: 10px;
    background-color: green;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}
.container{
    position: relative;
    max-width: 1500px;
    height: 620px;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    margin: 0 15px;
    border-top: 4px solid  rgb(77, 187, 202);
    border-left: 1px solid #bab4b4;
    border-right: 1px solid #bab4b4;
    border-bottom: 1px solid #bab4b4;

    background-color: #fff;
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.1); */
}
.plus {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 0 10 0px;
    text-align: center;
    background-color: rgb(77, 187, 202);
    border-radius: 6px;
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    line-height: 37px;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.class2{
    width:307px;
}



.title{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    margin: 18px 0;
    color: #333;
}
.radio-button {
    width: 1cm;
}

/* Add a margin between the radio buttons */
.radio-button + .radio-button {
    margin-left: 5cm;
}
.fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


form .fields .input-field{
    display: flex;
    width: calc(100% / 4 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field1{
    display: flex;
    width: calc(100% / 2 - 10px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
} 
.input-field1 input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field1 input :focus,
.input-field select:focus
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
    form .fields .input-field1{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
    form .fields .input-field1{
        width: 100%;
    }
}