.trnding_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-inline-start: 1rem ;


}
.poster_box{
    width: 30%;
    height: 30rem;
    margin-bottom: 1rem 
    ;


}
.poster_img{
    height: 40%;
    
}